body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 48px;
    font-weight: bolder;
    color: #fff;
    background-color: #1f2937;
    width: 100vw;
    padding: 16px 200px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-weight: normal;
    margin: 0;
    padding: 0;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    align-items: center;
}