body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    background-color: #1f2937;
    width: 100vw;
    padding: 16px 250px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-weight: normal;
    margin: 0;
    padding: 0;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    align-items: center;
}

.main-container {
    display: flex;
    width: 100vw;
    box-sizing: border-box;
    padding: 100px 250px;
    background-color: #1f2937;
    color: #e5e7eb;
    justify-content: space-between;
}

.main-container .text {
    display: flex;
    width: 640px;
    flex-direction: column;
    gap: 16px;
}

.main-container .image {
    width: 640px;
    height: 260px;
    overflow: hidden;
}

.main-container .image img {
    flex: 1 1 auto;
    margin-top: -160px;
}

.hero-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.main-container .subtext {
    font-size: 18px;
}

.main-container .button {
    background-color: #3882f6;
    border-radius: 5px;
    border: 0px;
    padding: 8px 16px;
    margin-top: 16px;
    color: #f9faf8;
    font-weight: bold;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.cards {
    display: flex;
    gap: 32px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-content .header-text {
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
    margin-top: 32px;
}

.card .image {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 2px solid #3882f6;
    overflow: hidden;
    border-radius: 5px;
}

.card .subtext {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    text-align: center;
}